body {
  background-color: rgba(220, 220, 220, 1);
  background-image: url("https://i.ibb.co/SRt90PW/Rectangle.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 3em;
  margin-bottom: 0;
  font-family: "Khand", sans-serif;
  line-height: 60px;
}

a {
  text-decoration: none;
  color: black;
  font-family: "Abhaya Libre", serif;
}

p {
  font-family: "Abhaya Libre", serif;
}

nav {
  margin: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

/* This is the nav section */

.links > * {
  margin-right: 20px;
  font-family: Khand;
  font-weight: 100;
}

.signup-btn {
  padding: 10px 25px;
  border: 1px solid;
  border-radius: 20px;
}

.logo {
  font-family: "Khand", sans-serif;
  font-size: 25px;
}

hr {
  border: 0.1px solid black;
  width: 90%;
}

/* body section */

.main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 80vh;
}

.leftside-content {
  text-align: left;
  max-width: 250px;
}

.leftside-content > p {
  margin-top: 5px;
  margin-bottom: 50px;
}

.leftside-content > a {
  margin-top: 50px;
}

.rightside-content > img {
  max-width: 20vw;
}

/* Media @ */

@media only screen and (max-width: 600px) {
  .nav {
    flex-direction: column;
    margin-left: auto;
    justify-content: center !important;
  }
  .logo {
    margin-bottom: 10px;
  }
  .rightside-content {
    display: none;
  }
}

/* Connect to twitter page */

.profile-picture {
  width: 50px;
  border-radius: 50px;
}
